<html>
    <head>
        <title>Pobal</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
        <link href="styles.css" rel="stylesheet" type="text/css">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="icons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="icons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="icons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="icons/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="icons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="icons/favicon-128.png" sizes="128x128" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta description="The best links from @phildini's twitter.">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@pebbleink" />
        <meta name="twitter:creator" content="@phildini" />
        <meta property="og:url" content="http://pebble.ink/~phildini/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="The best links from @phildini's twitter." />
    </head>
    <body>
        <div class="header">
        <img class="header-image" src="header.png"/>
        </div>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36515305-6', 'auto');
        ga('send', 'pageview');
        </script>
        <div class="container">
        {% for link in links %}
        <div class="link-block">
            <p class="link"><a href="{{ link.link }}" target="_blank">{{ link.link_text | safe }}</a></p>
            <p class="tweet">{{ link.tweet_text | safe}} <a href="{{ link.tweet_link }}">>></a></p>
        </div>
        {% endfor %}
        </div>
        {% if previous %}
        <div class="link-block">
            <p class="link"><a href="{{ previous }}.html"><< {{ previous }}</a></p>
        </div>
        {% endif %}
        </div>
        <div class="footer">
            <a href="http://philipjohnjames.com">PHILIP</a> MADE THIS -- INSPIRED BY <a href="http://waxy.org">ANDY</a>
        </div>
    </body>
</html>